## Module 1 Homework

## Docker & SQL

In this homework we'll prepare the environment 
and practice with Docker and SQL


## Question 1. Knowing docker tags

Run the command to get information on Docker 

```docker --help```

Now run the command to get help on the "docker build" command:

```docker build --help```

Do the same for "docker run".

Which tag has the following text? - *Automatically remove the container when it exits* 

- `--delete`
- `--rc`
- `--rmc`
- `--rm`

- the anser is `rm :Remove one or more containers`

## Question 2. Understanding docker first run 

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash.
Now check the python modules that are installed ( use ```pip list``` ). 

What is version of the package *wheel* ?

- 0.42.0
- 1.0.0
- 23.0.1
- 58.1.0

The answer is 


`docker run -it python:3.9 bash` 

python 3.9 pip version is 23.0.1

# Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from September 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)


## Question 3. Count records 

How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- 15612
- 15859
- 89009

In [1]:
from sqlalchemy import create_engine
import pandas as pd
# !pip install psycopg2-binary // if you don't have psycopg2 installed

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
query_3 = """SELECT COUNT(*)
        FROM green_trip_data
        WHERE 
            CAST(lpep_pickup_datetime AS DATE) = '2019-09-18' 
            AND CAST(lpep_dropoff_datetime AS DATE) = '2019-09-18';
        """

            
result_3 = engine.execute(query_3).fetchone()[0]

print(f'There were {result_3} trips on 2019-09-18')

There were 15612 trips on 2019-09-18

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every trip on a single day, we only care about the trip with the longest distance. 

- 2019-09-18
- 2019-09-16
- 2019-09-26
- 2019-09-21

In [4]:
query_4 = """SELECT lpep_pickup_datetime
        FROM green_trip_data
        where trip_distance = (SELECT MAX(trip_distance) FROM green_trip_data);
        """

result_4 = engine.execute(query_4).fetchone()[0] 


print(f'The longest trip was on {result_4}')

The longest trip was on 2019-09-26 19:32:52

## Question 5. Three biggest pick up Boroughs

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
 
- "Brooklyn" "Manhattan" "Queens"
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens" 
- "Brooklyn" "Queens" "Staten Island"

In [5]:
df_zones = pd.read_sql_query('SELECT * FROM taxi_zone', con=engine)

In [6]:
df_zones.head()

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         265 non-null    int64
 1   LocationID    265 non-null    int64
 2   Borough       265 non-null    object
 3   Zone          264 non-null    object
 4   service_zone  263 non-null    object
dtypes: int64(2), object(3)
memory usage: 10.5+ KB

In [8]:
query_5 = """SELECT "Borough", sum(total_amount)          
        FROM green_trip_data
        INNER JOIN taxi_zone ON green_trip_data."PULocationID" = taxi_zone."LocationID"
        WHERE 
            CAST(lpep_pickup_datetime AS DATE) = '2019-09-18' 
            AND taxi_zone."Borough" != 'Unknown'
        GROUP BY "Borough"
        HAVING sum(total_amount) > 50000
        limit 10;"""

df_5 = pd.read_sql_query(query_5, con=engine)
df_5.head()

     Borough       sum
0   Brooklyn  96333.24
1  Manhattan  92271.30
2     Queens  78671.71

## Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

In [9]:
query_6 = """
    SELECT
        tz_dropoff."Zone" AS dropoff_zone,
        MAX(gtd.tip_amount) AS max_tip_amount
    FROM
        green_trip_data gtd
    INNER JOIN
        taxi_zone tz_pickup ON gtd."PULocationID" = tz_pickup."LocationID"
    INNER JOIN
        taxi_zone tz_dropoff ON gtd."DOLocationID" = tz_dropoff."LocationID"
    WHERE
        EXTRACT(MONTH FROM gtd.lpep_pickup_datetime) = 9
        AND EXTRACT(MONTH FROM lpep_dropoff_datetime) = 9
        AND tz_pickup."Zone" = 'Astoria'
    GROUP BY
        tz_dropoff."Zone"
    ORDER BY
        max_tip_amount DESC
    LIMIT 1
"""


df_6 = pd.read_sql_query(query_6, con=engine)
df_6

  dropoff_zone  max_tip_amount
0     Woodside            30.0