### Question 1: 

**Install Spark and PySpark** 

- Install Spark
- Run PySpark
- Create a local spark session
- Execute spark.version.

### Question 1. Spark version (1 point)

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('hw5') \
    .getOrCreate()

In [3]:
print(pyspark.__file__)
print(f"Spark version is : {pyspark.__version__}")

/home/windowstest/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py
Spark version is : 3.3.2

### Question 2: 

**FHV October 2019**

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

- 1MB
- 6MB
- 25MB
- 87MB

In [4]:
# install fhv data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-06 20:51:38--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T205138Z&X-Amz-Expires=300&X-Amz-Signature=2353eef31c9becdd6e7cdcf4d8c80a10bf3cb4c52bbf26e5151c1e44d08dd301&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-06 20:51:38--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T205138Z&X-Amz-Expires=300&X-Amz-Signature=2353eef31c9becdd6e7cdcf4d8c80a10bf3cb4c52bbf26e5151c1e44d08dd301&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz.1’

fhv_tripdata_2019-1 100%[===================>]  18.48M  83.0MB/s    in 0.2s

2024-03-06 20:51:39 (83.0 MB/s) - ‘fhv_tripdata_2019-10.csv.gz.1’ saved [19375751/19375751]

-  after installing this i you need to unzip the file like this

`gzip -d fhv_tripdata_2019-10.csv.gz`

In [5]:
!head fhv_tripdata_2019-10.csv

dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021

In [6]:
import pandas as pd 
df2 = pd.read_csv('fhv_tripdata_2019-10.csv')

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897493 entries, 0 to 1897492
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 101.3+ MB

In [7]:
df2.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264.0,264.0,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264.0,264.0,NaN,B00014

In [8]:
# read csv with schema

schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [9]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [10]:
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [11]:
# Repartition the Dataframe to 6 partitions and save it to parquet.

df = df.repartition(6)

In [12]:
df.write.parquet('fhv/2019/10/', mode ='overwrite')

### Question 2. FHV October 2019 partition size (1 point)

- check with `ls -lh` 
- avg mean is 6

### Question 3: 

**Count records** 

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

- 108,164
- 12,856
- 452,470
- 62,610

> [!IMPORTANT]
> Be aware of columns order when defining schema

In [13]:
df = spark.read.parquet('fhv/2019/10/')

In [14]:
type(df)

pyspark.sql.dataframe.DataFrame

In [15]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   null|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   null|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   null|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   null|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   null|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   null|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   null|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   null|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   null|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   null|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [16]:
df.dtypes

[('dispatching_base_num', 'string'),
 ('pickup_datetime', 'timestamp'),
 ('dropOff_datetime', 'timestamp'),
 ('PUlocationID', 'int'),
 ('DOlocationID', 'int'),
 ('SR_Flag', 'string'),
 ('Affiliated_base_number', 'string')]

In [17]:
df.select('PUlocationID','Affiliated_base_number').show(10)

+------------+----------------------+
|PUlocationID|Affiliated_base_number|
+------------+----------------------+
|          89|                  null|
|         264|                B01315|
|         264|                B01984|
|         264|                B03047|
|         264|                B00932|
|         264|                B01029|
|         261|                B01087|
|         264|                B02889|
|          77|                B02882|
|         264|                B02472|
+------------+----------------------+
only showing top 10 rows

In [18]:
# How many taxi trips were there on the 15th of October?
#Consider only trips that started on the 15th of October.
from pyspark.sql.functions import col
from pyspark.sql import functions as F
df= df \
.withColumn("pickup_date", F.to_date(df.pickup_datetime)) \

trip_count = df.filter(df.pickup_date == "2019-10-15").select('pickup_date').count()

print(f"2019-10-15 trip count is : {trip_count}")

df.filter(df.pickup_date == "2019-10-15").select('pickup_date').show(5)
# df.filter(df.pickup_datetime.cast("date") == "2019-10-15").count()

2019-10-15 trip count is : 62610
+-----------+
|pickup_date|
+-----------+
| 2019-10-15|
| 2019-10-15|
| 2019-10-15|
| 2019-10-15|
| 2019-10-15|
+-----------+
only showing top 5 rows

In [19]:
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null| 2019-10-01|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315| 2019-10-05|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984| 2019-10-12|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047| 2019-10-15|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932| 2019-10-08|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
only showing top 5 rows

In [20]:
df.registerTempTable('fhv_2019_10')

/home/windowstest/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [21]:
# sql solution

spark.sql("""
SELECT COUNT(*)
FROM fhv_2019_10
WHERE DATE(pickup_datetime) = '2019-10-15';
""").show()

# or 

spark.sql("""
SELECT COUNT(*)
FROM fhv_2019_10
WHERE pickup_date = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

+--------+
|count(1)|
+--------+
|   62610|
+--------+

### Question 4: 

**Longest trip for each day** 

What is the length of the longest trip in the dataset in hours?

- 631,152.50 Hours
- 243.44 Hours
- 7.68 Hours
- 3.32 Hours

In [22]:
from pyspark.sql.functions import max
df.withColumn("trip_duration_hours", (col("dropoff_datetime").cast("long") - col("pickup_datetime").cast("long")) / 3600) \
.select(max('trip_duration_hours')).show()

+------------------------+
|max(trip_duration_hours)|
+------------------------+
|                631152.5|
+------------------------+

In [23]:
# sql solution
df.registerTempTable('fhv_2019_10')

spark.sql("""
SELECT
    DATE(Pickup_datetime) AS trip_date,
    MAX((UNIX_TIMESTAMP(dropoff_datetime) - UNIX_TIMESTAMP(pickup_datetime)) / 3600) AS longest_trip_hours
FROM
    fhv_2019_10
GROUP BY
    trip_date
ORDER BY
    longest_trip_hours DESC
LIMIT 1;
""").show()

+----------+------------------+
| trip_date|longest_trip_hours|
+----------+------------------+
|2019-10-28|          631152.5|
+----------+------------------+

### Question 6: 

**Least frequent pickup location zone**

Load the zone lookup data into a temp view in Spark</br>
[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?</br>

- East Chelsea
- Jamaica Bay
- Union Sq
- Crown Heights North

In [24]:
# install zone data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-06 20:52:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T205226Z&X-Amz-Expires=300&X-Amz-Signature=d9f342c96eecdbd99b55c5b7b8b05006eaa4a16fb8762ea778308824c558592b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-06 20:52:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T205226Z&X-Amz-Expires=300&X-Amz-Signature=d9f342c96eecdbd99b55c5b7b8b05006eaa4a16fb8762ea778308824c558592b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.004s

2024-03-06 20:52:27 (2.63 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [25]:
!head taxi_zone_lookup.csv

In [26]:
df_temp_zone = pd.read_csv('taxi_zone_lookup.csv')

In [27]:
df_temp_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [28]:
schema_zone = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True),
])

df_zone = spark.read \
    .option("header", "true") \
    .schema(schema_zone) \
    .csv('taxi_zone_lookup.csv')

In [29]:
df_zone.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [30]:
# Merge with zone lookup data
joined_df = df.join(df_zone, df.PUlocationID == df_zone.LocationID)

In [31]:
joined_df.groupBy("Zone").count().orderBy("count").show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|         Jamaica Bay|    1|
|Governor's Island...|    2|
| Green-Wood Cemetery|    5|
|       Broad Channel|    8|
|     Highbridge Park|   14|
|        Battery Park|   15|
|Saint Michaels Ce...|   23|
|Breezy Point/Fort...|   25|
|Marine Park/Floyd...|   26|
|        Astoria Park|   29|
|    Inwood Hill Park|   39|
|       Willets Point|   47|
|Forest Park/Highl...|   53|
|  Brooklyn Navy Yard|   57|
|        Crotona Park|   62|
|        Country Club|   77|
|     Freshkills Park|   89|
|       Prospect Park|   98|
|     Columbia Street|  105|
|  South Williamsburg|  110|
+--------------------+-----+
only showing top 20 rows

In [32]:
# Find the least frequent pickup location
least_frequent_location = joined_df.groupBy("Zone").count().orderBy("count").select("Zone").first()

# Print the result
print("Least frequent pickup location: {}".format(least_frequent_location["Zone"]))

Least frequent pickup location: Jamaica Bay